.user-avater{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: -2px;
}

.product-action{
    padding: 8px 20px;
    width: 100%;
    text-align: center;
    display: block;

}

.nav > li > a:focus {
    background: transparent;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}
aside ul.nav-list > li > a {
    color: #666;
    font-size: 0.9em;
    padding: 8px 0 8px 22px;
}
ul.nav-list li a {
    transition: background 0.1s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 8px 0 8px 22px;
    display: block;
    color: #666;
    font-size: 0.9em;
    text-decoration: none;
    line-height: 20px;
}

/* Order Details page */
.order-summery-box{
    border: 1px solid #eee;
    padding: 15px;
    min-height: 185px;

}
.order-summery-box p{
    margin : 0;
    line-height: 1.8em;
}
.order-summery-box p span{
    width: 115px;
    display: inline-block;
    color: #000;
}
.order-summery-box .badge{
    border-radius: 5px;



/* .cart-update-btn{
    margin-top: 10px;
    padding: 10px 10px !important;
} */
